---
import { t } from 'i18next';
import SectionContent from '../SectionContent.astro';
import H2 from '../H2.astro';
import H5 from '../H5.astro';
---

<SectionContent className='px-6 xl:px-11 mb-14'>
    <div class="flex flex-col gap-y-6 justify-center items-center mb-16 w-fit m-auto">
        <H2 className='max-w-[1000px] text-center'>{t("CARDS.TITLE")}</H2>
        <p class="font-inter font-medium tracking-wider text-gray-secondary text-[0.92rem] text-center">{t("CARDS.DESCRIPTION")}</p>
    </div>
    <!-- Cards -->
    <div class="flex max-md:flex-col max-md:gap-y-6 gap-x-5 xl:gap-x-7">
        <article class="border-[1px] border-gray-150 rounded-lg p-6 lg:p-8 w-full">
            <div class="size-[80px] mb-2">
                <img class="object-contain size-full" src="https://mega.io/wp-content/uploads/2023/01/Icon-3D-cloud.png" alt="cloud icon">
            </div>
            <div class="flex flex-col gap-y-3">
                <H5 className='text-main'>{t("CARDS.CONTENT_TITLE_1")}</H5>
                <p class="text-gray-secondary">{t("CARDS.CONTENT_DESCRIPTION_1")}</p>
            </div>
        </article>
        <article class="border-[1px] border-gray-150 rounded-lg p-6 lg:p-8 w-full">
            <div class="size-[80px] mb-2">
                <img class="object-contain size-full" src="https://mega.io/wp-content/uploads/2023/01/Icon-3D-chat.png" alt="cloud icon">
            </div>
            <div class="flex flex-col gap-y-3">
                <H5 className='text-main'>{t("CARDS.CONTENT_TITLE_2")}</H5>
                <p class="text-gray-secondary">{t("CARDS.CONTENT_DESCRIPTION_2")}</p>
            </div>
        </article>
        <article class="border-[1px] border-gray-150 rounded-lg p-6 lg:p-8 w-full">
            <div class="size-[80px] mb-2">
                <img class="object-contain size-full" src="https://mega.io/wp-content/uploads/2023/01/Icon-3D-call.png" alt="cloud icon">
            </div>
            <div class="flex flex-col gap-y-3">
                <H5 className='text-main'>{t("CARDS.CONTENT_TITLE_3")}</H5>
                <p class="text-gray-secondary">{t("CARDS.CONTENT_DESCRIPTION_3")}</p>
            </div>
        </article>
    </div>

</SectionContent>