---
import { t } from 'i18next';
import SectionContent from '../SectionContent.astro';
import H2 from '../H2.astro';
import H3 from '../H3.astro';
import P from '../P.astro';
import Link from '../Link.astro'
---

<SectionContent className='px-6 xl:px-11 mb-14'>
    <H2 className='text-center'>{t("FEATURES.TITLE")}</H2>
    <div class="flex flex-col gap-y-20">
        <article class=`flex gap-x-12 items-center max-md:flex-col`>
            <div class="flex-grow">
                <video muted loop playsinline autoplay src="https://mega.io/wp-content/uploads/20221223_Mega_Main_2-big-files-1.webm"></video>
            </div>
            <div class="flex flex-col gap-y-7 md:w-[36%]">
                <H3 className='lg:max-w-[80%]'>{t("FEATURES.CONTENT_TITLE_1")}</H3>
                <P>{t("FEATURES.CONTENT_DESCRIPTION_1")}</P>
                    <Link url="/pricings" >{t("FEATURES.CONTENT_LINK_1")}</Link>
            </div>
        </article>
        <article class=`flex gap-x-14 flex-row-reverse items-center max-md:flex-col`>
            <div class="flex-grow">
                <video muted loop playsinline autoplay src="https://mega.io/wp-content/uploads/20221223_Mega_Main_3-files-sharing-1.webm"></video>
            </div>
            <div class="flex flex-col gap-y-7 md:w-[36%]">
                <H3>{t("FEATURES.CONTENT_TITLE_2")}</H3>
                <P>{t("FEATURES.CONTENT_DESCRIPTION_2")}</P>
                    <Link url="/share" >{t("FEATURES.CONTENT_LINK_2")}</Link>
            </div>
        </article>
        <article class=`flex gap-x-12 items-center max-md:flex-col`>
            <div class="flex-grow">
                <video muted loop playsinline autoplay src="https://mega.io/wp-content/uploads/20221223_Mega_Main_4-safebox-1.webm"></video>
            </div>
            <div class="flex flex-col gap-y-7 md:w-[36%]">
                <H3 className='lg:max-w-[80%]'>{t("FEATURES.CONTENT_TITLE_3")}</H3>
                <P>{t("FEATURES.CONTENT_DESCRIPTION_1")}</P>
                    <Link url="/about" >{t("FEATURES.CONTENT_LINK_3")}</Link>
            </div>
        </article>
        <article class=`flex gap-x-14 flex-row-reverse items-center max-md:flex-col`>
            <div class="flex-grow">
                <video muted loop playsinline autoplay src="https://mega.io/wp-content/uploads/20221223_Mega_Main_5-devices-1.webm"></video>
            </div>
            <div class="flex flex-col gap-y-7 md:w-[36%]">
                <H3>{t("FEATURES.CONTENT_TITLE_4")}</H3>
                <P>{t("FEATURES.CONTENT_DESCRIPTION_4")}</P>
            </div>
        </article>
    </div>
</SectionContent>