---
import SectionContent from '../SectionContent.astro'
import H3 from '../H3.astro'
import P from '../P.astro'
import Link from '../Link.astro'
---
<SectionContent className='px-11 py-20 mb-14'>
    <div class="flex gap-x-5">
        <div class="w-full">
            <H3>Millions of people trust us</H3>
            <P>Join the millions of individuals and businesses who trust MEGA to store and protect their data in the cloud.</P>
        </div>
        <div class="w-full">
            
        </div>
    </div>
</SectionContent>