---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Cards from '../components/Cards.astro'
import SectionContent from '../components/SectionContent.astro'
import H2 from '../components/H2.astro'
import P from '../components/P.astro'
---

<Layout title="Welcome to Astro.">
	<Header />
	<Hero />
	<Cards />
	<SectionContent className='px-11 py-20 mb-14'>
		<div class="flex items-center">
			<div class="w-5/12 flex flex-col gap-y-5">
				<H2 className='w-[400px] text-left'>Security that’s always on</H2>
				<P className="leading-snug">We protect your data with zero-knowledge encryption, the highest level of online security and privacy. This means that only the sender and the recipient have the keys needed to see, read, or listen to the data stored or shared on MEGA.<br><br>For anyone else, including MEGA, the data would appear as gibberish, and they would find it impossible to read or understand.</P>
				<a href="/security">
					<div class="group flex items-center gap-x-3 text-main text-inter font-semibold hover:opacity-60 transition-all">
							<div class="underline">More about security</div>
							<i class='bx bx-right-arrow-alt text-3xl group-hover:translate-x-1 duration-[400ms] ease-in-out'></i>
					</div>
				</a>
			</div>
			<div class="flex-grow">
				<video muted loop playsinline autoplay src="https://mega.io/wp-content/uploads/20221223_Mega_Main_1-encryption-padlock-1.webm"></video>
			</div>
		</div>
	</SectionContent>
</Layout>