<div class="relative h-full flex px-2 border-y-4 border-transparent hover:border-b-red-500 chkParent">
    <input class="h-full w-full absolute top-0 left-0 z-10 opacity-0 chk navBtns cursor-pointer" type="checkbox">
    <div class="flex items-center gap-x-1">
        <slot />
        <div>
            <i class='bx bx-chevron-down text-3xl'></i>
        </div>
    </div>
</div>

<style>
    .chk:checked ~ .flex i, .chk:not(:checked) ~ .flex i {
        transition: rotate 0.2s ease;
    }
    .chk:checked ~ .flex i{
        rotate: 180deg;
    }
</style>