---
interface Props { className?: string }

const { className } = Astro.props;
---
<h2 class=`font-poppins text-main text-3xl md:text-4xl lg:text-5xl leading-tight font-semibold ${className}`>
    <slot />
</h2>