---
interface Props { name?: string }
const { name } = Astro.props;
---
<div class="hidden navItems">
    {
        name && (
        <!-- Heading -->
        <div class="uppercase font-inter font-bold text-xs text-gray-secondary tracking-widest mb-4">{name}</div>
        )
    }
    <!-- List -->
    <div class="flex gap-10 flex-wrap">
        <slot />
    </div>
</div>